#jsonnoContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#jsonnoValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}

#jsonyesContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#jsonyesValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}

#cbnoContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#cbnoValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}

#cbyesContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#cbyesValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}


#actSPSContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#actSPSValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}


#actSMContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#actSMValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}

#actCBContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#actCBValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}

#actMPContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#actMPValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}

#actRMContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#actRMValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}

#actLANContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#actLANValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}


#featSEContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featSEValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featCSContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featCSValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featVIContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featVIValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featRTContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featRTValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featYVContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featYVValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featPEContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featPEValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featMEContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featMEValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featDMContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featDMValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featELContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featELValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featEContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featEValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featCPContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featCPValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featESContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featESValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featPContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featPValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#featTaContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#featTaValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}


#ageKidContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#ageKidValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#ageYouthContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#ageYouthValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#ageOldContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#ageOldValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}


#placeUSContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeUSValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeCContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeCValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeBContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeBValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeAUContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeAUValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeGContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeGValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeFRContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeFRValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeEEContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeEEValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeJPContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeJPValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeAsiaContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeAsiaValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeMXContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeMXValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeSAContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeSAValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeMEContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeMEValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}
#placeAFContainer {
    color: black;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 10px auto 0;
    padding: 0;
    border: 1px solid black;
    position: relative;
}

#placeAFValue {
    background-color: green;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
}